/*
	Authors: Sven Schebitz, Nasrulla Nasrulla, Jason Ngan
	Notes: Main CSS stylesheet for meta site.
	Date: December 9, 2015
*/
@import url(https://fonts.googleapis.com/css?family=Signika:600);

body {
	font-family: arial;
	background-color: #92DCE0;
	color:#ffffff;
	font-family: 'Signika', sans-serif;
	scroll-behavior: smooth;
	background-image: url("../img/bg_meta3.png");
	background-attachment:fixed;
	text-align:center;
}

section {
	width:100%;
	height:auto;
	margin: 0 auto;
	border-bottom:1px solid #ffffff;
}

#rationale{
	border-width:0px;
}

section > p {
	text-align: left;
	margin-bottom: 20px;
} 

section > ul {
	text-align: left;
}

section > ul > li {
	margin: 7px;
}

footer{
	margin-top:30px;
	border-top:2px solid #ffffff;
}

::selection {
    background: #b5b5b5;
}
::-moz-selection {
    background: #b5b5b5;
}

#wrapper {
	width: 80%;
	min-width:350px;
	margin: 0 auto;
}


nav{
	padding-bottom:20px;
	border-bottom:2px solid #ffffff;
	font-size:22px;
}

nav a{
	color:#ffffff;
	width:150px;
	text-decoration:none;
	background-color:#0092D7;
	display:inline-block;
	border-radius:5px;
	margin-right:20px;
	border:1px solid #ffffff;
	opacity:0.7;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

nav a:hover{
	color:#92DCE0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

#member{
	margin-left:5%;
	margin-right:5%;
	text-align:left;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-rule-style: solid;
	-moz-column-rule-style: solid;
	column-rule-style: solid;
	-webkit-column-rule-width: 2px;
	-moz-column-rule-width: 2px;
	column-rule-width: 2px;
	-webkit-column-rule-color: #0092D7;
	-moz-column-rule-color: #0092D7;
	column-rule-color: #0092D7;
} 

#member p:first-child{
	margin-top:0px;
}


#tv { 
	position: relative;
	width: 350px;
	height: 250px;
	margin: 20px 0;
	background: #0092D7;
	border-radius: 50% / 10%;
	text-align:center;
	font-size:20px;
	margin:0 auto;
	display:inline-block;
}

#tv a{
	color: white;
	text-decoration:none;
}

#tv:before {
	padding-top:8px;
	content:url("../img/home.png");
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -5%;
	background: inherit;
	border-radius: 5% / 50%;
}


.content_links, .content_links:link{
	color:#0092D7;
	text-decoration:none;
	font-weight:900;
}


.content_links:hover{
	opacity:0.7;
}

#sitemap_timg{
	width:100%;
	height:auto;
	border:1px dashed #0092D7;
}

#sitemap_timg:hover{
	width:100%;
	height:auto;
	opacity:0.7;
}