/*
    Authors: Sven Schebitz, Nasrulla Nasrulla, Jason Ngan
    Notes: CSS for the protosite
    Date: December 10, 2015
*/


/*===================general tags=================*/
body {
    font-family: arial;
    background-color: #ffffff;
	background-image: url("../images/bg.png");
	background-attachment:fixed;
}

#wrapper{
    width:1024px;
	height: inherit;
	background-color: #ffffff;
	margin:0 auto;
	clear: both;
	overflow: auto;
}

#index_wrapper {
	margin:0 auto;
	padding: 0px;
	width: 1024px;
}

#index_wrapper h1 {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
}

.index_section {
	margin-top: 20px;
	width: auto;
}

/*==================header=================*/

header{
    margin: 0 auto;
    width: 1024px;
height:200px;
background:-webkit-linear-gradient(left, lightgray,#003e6b); 
background:-ms-linear-gradient(left, lightgray,#003e6b); 
background:-o-linear-gradient(left, lightgray,#003e6b); 
background:-moz-linear-gradient(left, lightgray,#003e6b); 
background:linear-gradient(left, lightgray,#003e6b); 
   
}

#logo{
	float:left;
}

#login {
	color:#003e6b;
	float:right;
	padding-right:20px;
}

#login h3{
color:white;
}

#login input[type="text"], input[type="password"]{
	width:200px;
	font-size:12px;
	color:#003e6b;
	border-radius:2px;
	margin-bottom:5px;
	padding:5px;
}

#login input[type="text"], input[type="password"]:hover{
	border:1px solid #grey;
	
}




/*===================nav=================*/
nav {
    clear: both;
    width: 1024px;
    height: 40px;
    margin: 0 auto;
    background-color: #003e6b;
}

nav > ul {
    clear: both;
    height: 40px;
    list-style-type: none;
    padding-left: 0;
	margin: 0 auto;
	width: 780px;
	margin-top: 0px;
}

nav > ul > li {
    float: left;
    text-align: center;
	width:150px;
}

nav > ul > li:hover {
    opacity: 0.7;
}

.nav_border {
    width: 1px;
    padding: 1px;
    height: 38px;
    border-left: 2px solid #000000;
}

nav > ul > li > a {
    text-decoration: none;
    color: #ffffff;
	display:block;
	font-size:15px;
	font-family:Arial;
	color:#ffffff;
    line-height: 40px;
	-webkit-transition: all .40s ease;
    -moz-transition: all .40s ease;
    -ms-transition: all .40s ease;
    -o-transition: all .40s ease;
    transition: all .40s ease;
}
nav > ul > li> a:hover {
   color: #099ddf;
}

/*===================main=================*/


 main section {
	width: 700px;
	float:left;
    margin-top: 20px;
}

main section > h2 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

article {
	background-color: #ffffff;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border: 1px solid #000000;
}

article > h3 {
	padding: 10px;
	margin: 0px;
	margin-bottom: 10px;
	background-color: #003e6b;
	color: #ffffff;
}

article > ol {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

article > ul > li {
    list-style-type: circle;
}

article > p {
	margin: 0px;
	padding: 10px 10px;
}
article li a{
 text-decoration:none;
 color:#003e6b;
}

article li a:hover{
 text-decoration:none;
 color:#caa;
}
.assignment_unavailable h3,
.assignment_unavailable p {
    color: lightgray;
}

.quiz_unavailable h3,
.quiz_unavailable p {
    color: lightgray;
}

.image_navigation {
    clear: both;
    height: 170px;
    width: 583px;
    margin: 15px auto;
}

.image_button > img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.image_button > p {
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
}

.image_button {
    float: left;
    border-radius: 90px;
    border: 2px solid #000000;
    width: 170px;
    height: 170px;
    background-color: #003e6b;
    margin: 0 10px;
    cursor: pointer;
}

.image_button:hover {
    opacity: 0.7;
}

.lecture_unavailable {
    text-decoration: line-through;
    color: darkgray;
}

/*===================footer=================*/
footer{
    background-color: #003e6b;
	clear: both;
	overflow:auto;
    margin: 0 auto;
    width: 1024px;
}

#footer {
    margin: 10px auto;
    width: 270px;
	margin-top:20px;
}

#footer a {
    color: #ffffff;
    vertical-align: middle;
    margin: 0px 20px;
}

footer section{
   width:341px;
   float:left;
}
#footer_wrapper{
   width:1024px;
   margin:0 auto;
}
footer h3{
text-align:center;
border-bottom:1px solid #ccc;
padding-bottom: 10px;
color:white;
padding-right:100px;

}

aside{
    margin-top: 68px;
    width: 23.7%;
    background-color: #ffffff;
    float: right;
    position: relative;
    box-shadow: 0px 0px 2px #fff;
    border: 1px dashed #003e6b;
	border-top:0px;
}

aside h3 {
	background-color: #003e6b;
	color:#ccc;
	margin:0;
	text-align:center;
}

aside ul {
    margin-left: 25px;
    padding-left: 0px;
	list-style:none;
	position:relative;
}

aside li a{
   text-decoration:none;
	color:#003e6b;
}
aside li a:hover{
 text-decoration:none;
 color:#caa;
}

aside li a:before{
    content: "\203A";
    display: inline-block;
    position: absolute;
    left: -10px;
    color: #003e6b;
    -webkit-transition: all .40s ease;
    -moz-transition: all .40s ease;
    -ms-transition: all .40s ease;
    -o-transition: all .40s ease;
    transition: all .40s ease;
}
aside li a:hover:before{
    content: "\00bb";
    display: inline-block;
    position: absolute;
    left: -8px;
}



footer section ul{
    margin: 30px 0 0 44px;
	position:relative;
	margin-bottom:20px;
   
}

footer section ul li{
    margin: 10px 0 0 10px;
   
}

footer section ul li a{
    text-decoration:none;
	color:#ccc;
   
}
footer li a:hover{
 color:#caa;
}
footer section ul li a:before{
    content: "\203A";
    display: inline-block;
    position: absolute;
    left: 38px;
    color: #99ccff;
    -webkit-transition: all .40s ease;
    -moz-transition: all .40s ease;
    -ms-transition: all .40s ease;
    -o-transition: all .40s ease;
    transition: all .40s ease;
	}
	
	footer section ul li a:hover:before{
	 content: "\00bb";
	 position: absolute;
     left: 43px;
	
	}