/*
    Authors: Sven Schebitz, Nasrulla Nasrulla, Jason Ngan
    Notes: CSS for the protosite
    Date: December 10, 2015
*/


/*===================general tags=================*/
body {
    font-family: arial;
    background-color: #ffffff;
}

#wrapper{
    width:1024px;
	height: inherit;
	background-color: #ffffff;
	margin:0 auto;
	clear: both;
	overflow: auto;
}

#index_wrapper {
	margin:0 auto;
	padding: 0px;
	width: 1024px;
}

#index_wrapper h1 {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
}

.index_section {
	margin-top: 20px;
	width: auto;
}

/*==================header=================*/

header{
    margin: 0 auto;
    width: 1024px;
height:200px;
background:-webkit-linear-gradient(left, lightgray,#003e6b); 
background:-ms-linear-gradient(left, lightgray,#003e6b); 
background:-o-linear-gradient(left, lightgray,#003e6b); 
background:-moz-linear-gradient(left, lightgray,#003e6b); 
background:linear-gradient(left, lightgray,#003e6b); 
   
}


/*===================nav=================*/
nav {
    clear: both;
    width: 1024px;
    height: 40px;
    margin: 0 auto;
    background-color: #003e6b;
}

nav > ul {
    clear: both;
    height: 40px;
    list-style-type: none;
    padding-left: 0;
	margin: 0 auto;
	width: 780px;
	margin-top: 0px;
}

nav > ul > li {
    float: left;
    text-align: center;
	width:150px;
}

nav > ul > li:hover {
    opacity: 0.7;
}

.nav_border {
    width: 1px;
    padding: 1px;
    height: 38px;
    border-left: 2px solid #000000;
}

nav > ul > li > a {
    text-decoration: none;
    color: #ffffff;
	display:block;
	font-size:15px;
	font-family:Arial;
	color:#ffffff;
    line-height: 40px;
}
nav > ul > li> a:hover {
    background-color: #ffa;
}

/*===================main=================*/

main {
    width: 780px;
    margin: 0 auto;
}

 main section {
	width: 600px;
	float:left;
    margin-top: 20px;
}

main section > h2 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

article {
	background-color: #ffffff;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border: 1px solid #000000;
}

article > h3 {
	padding: 10px;
	margin: 0px;
	margin-bottom: 10px;
	background-color: #003e6b;
	color: #ffffff;
}

article > ol {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

article > ul > li {
    list-style-type: circle;
}

article > p {
	margin: 0px;
	padding: 10px 10px;
}

.assignment_unavailable h3,
.assignment_unavailable p {
    color: lightgray;
}

.quiz_unavailable h3,
.quiz_unavailable p {
    color: lightgray;
}

.image_navigation {
    clear: both;
    height: 170px;
    width: 583px;
    margin: 15px auto;
}

.image_button > img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.image_button > p {
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
}

.image_button {
    float: left;
    border-radius: 90px;
    border: 2px solid #000000;
    width: 170px;
    height: 170px;
    background-color: #003e6b;
    margin: 0 10px;
    cursor: pointer;
}

.image_button:hover {
    opacity: 0.7;
}

.lecture_unavailable {
    text-decoration: line-through;
    color: darkgray;
}

/*===================footer=================*/
footer{
    background-color: #003e6b;
	clear: both;
	overflow:auto;
    margin: 0 auto;
    width: 1024px;
}

#footer {
    margin: 10px auto;
    width: 270px;
}

#footer a {
    color: #ffffff;
    vertical-align: middle;
    margin: 0px 20px;
}

footer section{
   width:341px;
   float:left;
}
#footer_wrapper{
   width:1024px;
   margin:0 auto;
}
footer h3{
text-align:center;
border-bottom:1px solid #fff;
padding-bottom: 10px;

}

aside{
    margin-top: 68px;
    width: 23.7%;
    background-color: #ffffff;
    float: right;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 2px #fff;
    border: 2px dashed #003e6b;
}

aside h3 {
    margin-top: 5px;
    margin-left: 5px;
    border: 2px solid #003e6b;
    border-width: 0px 0px 2px 0px;
}

aside ul {
    margin-left: 25px;
    padding-left: 0px;
}

aside li {
    list-style-type: disc
}